.venv

Use_Case_Scenarios.pdf
applications_application.png
README.pdf

app/theme/static_src/node_modules/

# ignore all .pyc files
*.pyc

README.pdf

app/package-lock.json
app/package.json

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

app/theme/node_modules/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django specific
**/migrations/
**/static/CACHE/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual environments
venv/
env/
ENV/
.venv/
.env/
.ENV/

# IDEs
.vscode/
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
