{% extends 'base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div class="sm:flex  ">
  <div class=" flex justify-center items-center pt-16 px-4 pb-5  h-screen w-full">
    <div>
      <div class="pb-[24px] ">
        <h2 class="font-bold text-[#00B14F] text-2xl">Chào mừng bạn đã quay trở lại</h2>
        <p>Cùng xây dựng một hồ sơ nổi bật và nhận được các cơ hội sự nghiệp lý tưởng</p>
      </div>
      <div class="mb-6">
        <div class="mb-1">Email</div>
        <div class="flex items-center gap-2 border px-5 py-2 ">
          <div><i class="bi bi-envelope text-[#00B14F]"></i></div>
          <div><input placeholder="Email" class="outline-none focus:ring-0 border-none bg-transparent w-full  "
              type="text"></div>
        </div>
      </div>
      <div class="mb-6">
        <div class="mb-1">Password</div>
        <div class="flex items-center gap-2 border px-5 py-2 ">
          <div><i class="bi bi-shield-lock-fill text-[#00B14F]"></i></div>
          <div><input placeholder="Password" class="outline-none focus:ring-0 border-none bg-transparent w-full  "
              type="text"></div>
        </div>
      </div>
      <div class="flex justify-end"><p class="text-[#00B14F] mb-6" >quên mật khẩu</p></div>
      <div class="flex text-lg font-semibold text-white justify-center rounded-md bg-[#00B14F] px-3 py-2 "> <div class=""> Đăng nhập </div> </div>
      
    </div>
  </div>


  <div
    style="background-image: url('https://static.topcv.vn/v4/image/auth/auth_bg_desktop.png'); background-position: center ; background-repeat: no-repeat; background-size: cover;"
    class=" h-screen w-full text-white flex justify-center items-center p-10">
    <div class=""> <img src="https://static.topcv.vn/v4/image/auth/topcv_white.png" alt="">
      <div>
        <h1 class="text-2xl font-bold mt-6 ">Tiếp lợi thế
          Nối thành công


        </h1>
        <p class="text-base font-medium ">TopCV - Hệ sinh thái nhân sự tiên phong ứng dụng công nghệ tại Việt Nam</p>
      </div>
    </div>
    <div><img src="https://static.topcv.vn/v4/image/auth/auth_arrow.png" class="h-[608px] w-[211px]" alt=""> </div>
  </div>
</div>

{% endblock %}