

{% extends 'base.html' %}
{% load static %}
{% block title %}Register Employer{% endblock %}

{% block css-path %}
    <link rel="stylesheet" href="{% static 'users/dialog-styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container mx-auto mt-10 px-4 lg:px-0">

        <div class="flex flex-col lg:flex-row gap-x-8">

            <div class="w-full lg:w-1/2 space-y-6">
                <img src="https://tuyendung.topcv.vn/app/_nuxt/img/Logo.46e2b3b.png" alt="Logo"
                     class="w-48 mx-auto lg:mx-0">
                <p class="text-lg text-green-500 font-bold text-center lg:text-left">Đăng ký tài khoản Nhà tuyển
                    dụng</p>
                <p class="text-sm font-light text-slate-500 text-center lg:text-left">
                    Cùng tạo dựng lợi thế cho doanh nghiệp bằng trải nghiệm công nghệ tuyển dụng ứng dụng sâu AI &
                    Hiring Funnel.
                </p>
                <div class="flex items-center space-x-2 mt-3 justify-center lg:justify-start">
                    <div class="w-1 h-6 bg-green-500"></div>
                    <p class="font-bold text-lg">Thông tin nhà tuyển dụng</p>
                </div>
                <div class="space-y-4">
                    <form  method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                            <div class="relative">
                                <p class="text-sm font-semibold">Họ và tên <span class="text-red-500">*</span></p>
                                <div class="relative mt-2">
                                    <input name="full_name" id="id_full_name" type="text" {{ form.full_name.value }}
                                           class="pl-10 pr-4 py-2 border rounded-lg w-full"
                                           placeholder="Họ và tên"/>

                                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                        <i class="text-green-500 bi bi-person"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="relative">
                                <p class="text-sm font-semibold">Giới tính: <span class="text-red-500">*</span></p>
                                <div class="flex items-center mt-2 space-x-4">
                                    <label for="male" class="flex items-center cursor-pointer">
                                        <input class="mr-1" id="male" type="radio" name="gender" value="male">
                                        Nam
                                    </label>
                                    <label for="female" class="flex items-center cursor-pointer">
                                        <input class="mr-1" id="female" type="radio" name="gender" value="female">
                                        Nữ
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="relative mt-3">
                            <p class="text-sm font-semibold">Số điện thoại cá nhân <span class="text-red-500">*</span>
                            </p>
                            <div class="relative mt-2">
                                <input id="id_phone" name="phone" type="text"
                                       class="pl-10 pr-4 py-2 border rounded-lg w-full"
                                       placeholder="Số điện thoại cá nhân"/>

                                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                    <i class="text-green-500 bi bi-telephone"></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 lg:grid-cols-1 gap-4 mt-3">
                            <div class="relative">
                                <p class="text-sm font-semibold">Công ty <span class="text-red-500">*</span></p>
                                <div class="flex ">
                                    <select name="company" class="w-10/12">
                                        {% for company in companies %}
                                            <option value="{{ company.id }}">{{ company.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <!-- Trigger Button -->
                                    <button id="openModalBtn" class="ml-2 open-modal-btn text-sm">Them cong ty</button>
                                </div>

                            </div>
                            <div class="relative">
                                <p class="text-sm font-semibold">Vị trí công tác <span class="text-red-500">*</span></p>
                                <div class="relative mt-2">
                                    {{ form.position }}
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-3">
                            <div class="relative">
                                <p class="text-sm font-semibold">Địa điểm làm việc <span class="text-red-500">*</span>
                                </p>
                                <div class="relative mt-2">
                                    {{ form.work_location }}
                                </div>
                            </div>
                            {% comment %} <div class="relative">
                                <p class="text-sm font-semibold">Quận/ huyện <span class="text-red-500">*</span></p>
                                <div class="relative mt-2">
                                    <input type="text" class="pl-10 pr-4 py-2 border rounded-lg w-full"
                                           placeholder="Quận/ huyện"/>
                                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                        <i class="text-green bi bi-building"></i>
                                    </div>
                                </div>
                            </div>{% endcomment %}
                        </div>
                        <div class="mt-3">
                            <span class="font-semibold text-sm">Avatar</span>
                            {{ form.avatar }}
                        </div>

                        <button type="submit" class="mt-3 text-white bg-green-500 p-2 rounded w-full">Hoàn tất</button>
                    </form>
                </div>
                <!-- Modal Structure -->
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span class="close-btn" id="closeModalBtn">&times;</span>
                        <div class="container mx-auto p-6">
                            <div class="max-w-md mx-auto bg-white shadow-md rounded-lg p-6">
                                <h2 class="text-2xl font-semibold mb-6">Company Form</h2>
                                <form method="post" enctype="multipart/form-data"
                                      action="{% url 'jobs:create-company' %}">
                                    {% csrf_token %}
                                    {{ company_form.non_field_errors }}
                                    <div class="space-y-4">
                                        {{ company_form.as_table }}
                                    </div>
                                    <div class="mt-6">
                                        <button type="submit"
                                                class="w-full py-2 px-4 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:ring-4 focus:ring-blue-300">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden lg:block w-1/2">
                <img src="https://tuyendung.topcv.vn/app/_nuxt/img/banner-01.d2c28c7.png" alt="Banner"
                     class="object-cover h-full float-right">
            </div>

            {#            {{ company_form.as_p }}#}
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'users/upload-image-preview.js' %}"></script>
    <script src="{% static 'users/dialog.js' %}"></script>
{% endblock %}
