{% extends 'base.html' %}
{% load static %}
{% block title %}
Công ty
{% endblock %}

{% block content %}
<div class=" md:px-[200px] px-8 mb-3 pt-12   ">

  <div class=" bg-white overflow-hidden   rounded-lg mb-6">
    <div class=" relative">


      <div><img src="https://static.topcv.vn/v4/image/normal-company/cover/company_cover_1.jpg" alt=""></div>

      <img
        src="https://cdn-new.topcv.vn/unsafe/140x/https://static.topcv.vn/company_logos/Xz0XnDrB416uay5Ugb0bLFQVHKFcVdkL_1692257186____e899760276d6b10d8c66829607d5c48e.jpg"
        class="rounded-full absolute bottom-[-20px]  xl:bottom-[-70px] left-6 xl:h-[180px] h-[80px] xl:w-[180px] w-[80px] z-20">


    </div>
    <div
      class="bg-gradient-to-l bg-black from-[#00B14F]   text-white flex xl:flex-row flex-col xl:gap-20 gap-5 xl:justify-end xl:items-center  p-6 ">
      <div>
        <div>
          <h1 class="font-bold  xl:text-xl mb-5">CÔNG TY CỔ PHẦN TRƯỜNG HỌC CÔNG NGHỆ MINDX</h1>
        </div>
        <div class="flex xl:flex-row flex-col text-xs xl:text-base font-semibold xl:gap-6 gap-3">
          <div class="flex gap-3">
            <div> <i class="bi bi-globe"></i></div>
            <div>
              https://mindx.edu.vn/about</div>
          </div>

          <div class="flex gap-3">
            <div> <i class="bi bi-building"></i></div>
            <div>
              100-499 nhân viên
            </div>
          </div>

          <div class="flex gap-3">
            <div> <i class="bi bi-people-fill"></i></div>
            <div>
              74 người theo dõi</div>
          </div>
        </div>
      </div>
      <div> <button class="bg-white rounded-md text-[#00B14F] font-semibold py-[6px] px-3"> Theo dõi công ty </button>
      </div>

    </div>
  </div>



  <div class="grid xl:grid-cols-3 gap-6  ">
    <div class="  xl:order-1 order-2  xl:col-span-2 flex flex-col gap-6">

      <div class="rounded-lg bg-white overflow-hidden">


        <div class=" bg-gradient-to-l bg-black from-[#00B14F] text-white px-5 py-3 font-bold md:text-xl ">Giới thiệu
          công ty</div>


        <div class="px-5 py-6">

          <p>MindX School là hệ thống trung tâm đào tạo công nghệ hàng đầu Việt Nam hiện nay. MindX là nơi đầu tiên và
            duy
            nhất tại Việt Nam mô phỏng thung lũng công nghệ cao Silicon Valley và có lộ trình giáo dục liên cấp từ cấp 1
            đến Đại học.

            Được thành lập từ năm 2015 đến nay, MindX hiện đã có hơn 53 cơ sở tại Hà Nội và TP HCM, đào tạo gần 35.000
            học
            sinh, sinh viên và cả người đã đi làm trên cả nước. MindX ngày càng nhận được sự quan tâm, ủng hộ từ các bậc
            phụ huynh, các em nhỏ và các bạn trẻ có quan tâm đến Công nghệ.
          </p>

        </div>

      </div>



      <div class="rounded-lg bg-white overflow-hidden ">

        <div class=" bg-gradient-to-l bg-black from-[#00B14F] text-white px-5 py-3 font-bold md:text-xl mb-2 md:mb-6">
          Tuyển dụng</div>


        <div class="flex flex-col gap-2">
          <!-- ITEM VIỆC LÀM -->
          <div class="bg-green-800/5 rounded-md p-3 m-[10px] border hover:border-[#00B14F]    ">
            <div class="flex gap-3 items-center">
              <a>
                <div class="box-company-logo  h-[70px] w-[70px] ">
                  <div class="avatar shrink-0">
                    <img
                      src="https://cdn-new.topcv.vn/unsafe/200x/https://static.topcv.vn/company_logos/7fvFMjFj92FKStMmcH0Q9sSxgRZ7gol4_1715230730____8bf94e6c8a59f0ff4c549ccf93f57fe6.jpeg"
                      class=" ">
                  </div>
                  <div>
                  </div>
                </div>
              </a>
              <div class="overflow-hidden space-y-2  ">
                <div class="space-y-2">
                  <div>
                    <a>
                      <strong class="text-[14px]    ">
                        Nhân Viên Livestream TikTok - Tại Hồ Chí Minh - Thu Nhập Hấp Dẫn Lên Đến 25 Triệu (Lương Cứng 10
                        Triệu + Thưởng Doanh Số)
                      </strong>
                    </a>
                  </div>
                  <div class=" sm:text-[12px] font-semibold">CÔNG TY CỔ PHẦN LIVESTREAM VIỆT NAM</div>
                </div>
                <div>
                  <div class="flex items-center justify-between">
                    <div class="flex gap-3 text-[12px] font-semibold">
                      <div><span>10 - 35 triệu</span></div>
                      <div class="address"><span>Hồ Chí Minh</span></div>

                    </div>

                    <div><button class="bg-[#00B14F] py-[6px] px-4 text-white text-sm font-medium rounded-sm"> Ứng
                        tuyển</button></div>
                  </div>

                  <div class="col-">
                    <a>
                      <button>
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ITEM VIỆC LÀM -->
          <div class="bg-green-800/5 rounded-md p-3 m-[10px] border hover:border-[#00B14F]    ">
            <div class="flex gap-3 items-center">
              <a>
                <div class="box-company-logo  h-[70px] w-[70px] ">
                  <div class="avatar shrink-0">
                    <img
                      src="https://cdn-new.topcv.vn/unsafe/200x/https://static.topcv.vn/company_logos/7fvFMjFj92FKStMmcH0Q9sSxgRZ7gol4_1715230730____8bf94e6c8a59f0ff4c549ccf93f57fe6.jpeg"
                      class=" ">
                  </div>
                  <div>
                  </div>
                </div>
              </a>
              <div class="overflow-hidden space-y-2  ">
                <div class="space-y-2">
                  <div>
                    <a>
                      <strong class="text-[14px]    ">
                        Nhân Viên Livestream TikTok - Tại Hồ Chí Minh - Thu Nhập Hấp Dẫn Lên Đến 25 Triệu (Lương Cứng 10
                        Triệu + Thưởng Doanh Số)
                      </strong>
                    </a>
                  </div>
                  <div class=" sm:text-[12px] font-semibold">CÔNG TY CỔ PHẦN LIVESTREAM VIỆT NAM</div>
                </div>
                <div>
                  <div class="flex items-center justify-between">
                    <div class="flex gap-3 text-[12px] font-semibold">
                      <div><span>10 - 35 triệu</span></div>
                      <div class="address"><span>Hồ Chí Minh</span></div>

                    </div>

                    <div><button class="bg-[#00B14F] py-[6px] px-4 text-white text-sm font-medium rounded-sm"> Ứng
                        tuyển</button></div>
                  </div>

                  <div class="col-">
                    <a>
                      <button>
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ITEM VIỆC LÀM -->
          <div class="bg-green-800/5 rounded-md p-3 m-[10px] border hover:border-[#00B14F]    ">
            <div class="flex gap-3 items-center">
              <a>
                <div class="box-company-logo  h-[70px] w-[70px] ">
                  <div class="avatar shrink-0">
                    <img
                      src="https://cdn-new.topcv.vn/unsafe/200x/https://static.topcv.vn/company_logos/7fvFMjFj92FKStMmcH0Q9sSxgRZ7gol4_1715230730____8bf94e6c8a59f0ff4c549ccf93f57fe6.jpeg"
                      class=" ">
                  </div>
                  <div>
                  </div>
                </div>
              </a>
              <div class="overflow-hidden space-y-2  ">
                <div class="space-y-2">
                  <div>
                    <a>
                      <strong class="text-[14px]    ">
                        Nhân Viên Livestream TikTok - Tại Hồ Chí Minh - Thu Nhập Hấp Dẫn Lên Đến 25 Triệu (Lương Cứng 10
                        Triệu + Thưởng Doanh Số)
                      </strong>
                    </a>
                  </div>
                  <div class=" sm:text-[12px] font-semibold">CÔNG TY CỔ PHẦN LIVESTREAM VIỆT NAM</div>
                </div>
                <div>
                  <div class="flex items-center justify-between">
                    <div class="flex gap-3 text-[12px] font-semibold">
                      <div><span>10 - 35 triệu</span></div>
                      <div class="address"><span>Hồ Chí Minh</span></div>

                    </div>

                    <div><button class="bg-[#00B14F] py-[6px] px-4 text-white text-sm font-medium rounded-sm"> Ứng
                        tuyển</button></div>
                  </div>

                  <div class="col-">
                    <a>
                      <button>
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>


      </div>


    </div>


    <div class="xl:col-span-1 xl:order-2 order-1  ">
      <div class="rounded-lg bg-white overflow-hidden">

        <div class=" bg-gradient-to-l bg-black from-[#00B14F] text-white px-5 py-3 font-bold md:text-xl mb-2 "> Thông
          tin liên hệ </div>
        <div>
          <div class="p-3 text-base ">
            <div class="font-medium"><span> <i class="bi bi-geo-alt-fill"></i></span> Địa chỉ công ty </div>
            <p class=""> Tầng 2, Tòa 29T1 Hoàng Đạo Thúy, Phường Trung Hoà, Quận Cầu Giấy, Thành phố Hà Nội </p>
          </div>
        </div>

      </div>

      <div class="rounded-lg bg-white overflow-hidden mt-6">

        <div class=" bg-gradient-to-l bg-black from-[#00B14F] text-white px-5 py-3 font-bold md:text-xl mb-2 "> Chia sẻ
          công ty tới bạn bè </div>
        <div>
          <div class="p-3 text-base  ">
            <div class="space-y-2">
              <p class="font-semibold ">Sao chép đường dẫn</p>
              <div class="flex gap-3 items-center border rounded-lg px-3 py-1">
                <input 
                  value="https://www.topcv.vn/cong-ty/cong-ty-co-phan-truong-hoc-cong-nghe-mindx/122002.html"
                  class="outline-none focus:ring-0  border-none w-full">
                <div class="btn-copy">
                  <button class="btn-copy-url"><i class="bi bi-clipboard"></i></button>
                </div>

              </div>

              <p class="font-semibold ">Chia sẻ qua mạng xã hội</p>
              <div class="flex gap-4">
                <a href="http://www.facebook.com/sharer/sharer.php?u=https://www.topcv.vn/cong-ty/cong-ty-co-phan-truong-hoc-cong-nghe-mindx/122002.html"
                  target="_blank"><img src="https://static.topcv.vn/v4/image/normal-company/share/facebook.png"
                    alt=""></a>
                <a href="https://twitter.com/intent/tweet?url=https://www.topcv.vn/cong-ty/cong-ty-co-phan-truong-hoc-cong-nghe-mindx/122002.html"
                  target="_blank"><img src="https://static.topcv.vn/v4/image/normal-company/share/twitter.png"
                    alt=""></a>
                <a href="https://www.linkedin.com/cws/share?url=https://www.topcv.vn/cong-ty/cong-ty-co-phan-truong-hoc-cong-nghe-mindx/122002.html"
                  target="_blank"><img src="https://static.topcv.vn/v4/image/normal-company/share/linked.png"
                    alt=""></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
{% include "core/footer.html" %}

{% endblock %}