<div
  style="background-image: url('https://static.topcv.vn/v4/image/welcome/box-flash-badge/cover.png'); background-repeat: no-repeat ; background-position: center; background-size: cover; ">
  <div class="sm:containerc  px-6 sm:px-[144px] py-6 ">
    <div>
      <div class="flex flex-col gap-3 2xl:grid 2xl:grid-cols-12">


        <div class="flex items-center justify-around col-span-6 p-2 bg-white rounded-md ">
          <div class=" item item-search">
            <div class="icon">
              <i class="fa-regular fa-magnifying-glass"></i>
            </div>
            <input class="border-none focus:outline-none focus:ring-0 " value="" placeholder="Vị trí ứng tuyển"
              id="keyword" autocomplete="off">
          </div>
          <div class=" item">
            <div class="icon">
              <i class="fa-regular fa-location-dot"></i>
            </div>
            <select name="city" id="city" class="border-none focus:outline-none focus:ring-0" tabindex="-1"
              aria-hidden="true">
              <option value="">Tất cả địa điểm</option>
              <option value="1">Hà Nội</option>
              <option value="2">Hồ Chí Minh</option>

            </select>
          </div>
        </div>


        <div class="flex items-center col-span-2 p-2 bg-white rounded-md " >
          <div class="item ">
            <div class="icon">
              <i class="fa-regular fa-location-dot"></i>
            </div>
            <select name="city" id="city" class="border-none focus:outline-none focus:ring-0" tabindex="-1"
              aria-hidden="true">
              <option value="">Tất cả kinh nghiệm </option>
              <option value="1">Hà Nội</option>
              <option value="2">Hồ Chí Minh</option>

            </select>
          </div>
        </div>

        <div class="flex items-center col-span-2 p-2 bg-white rounded-md">
          <div class="item ">
            <div class="icon">
              <i class="fa-regular fa-location-dot"></i>
            </div>
            <select name="city" id="city" class="border-none focus:outline-none focus:ring-0" tabindex="-1"
              aria-hidden="true">
              <option value="">Tất cả mức lương</option>
              <option value="1">Hà Nội</option>
              <option value="2">Hồ Chí Minh</option>

            </select>
          </div>
        </div>
        <button class="bg-[#00B14F] font-semibold text-lg  px-3 py-3 text-white  rounded-md col-span-2 ">Tìm kiếm</button>

      </div>



    </div>


  </div>

</div>