{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-6">
    <div class="text-center mb-8">
        <h1 class="text-3xl font-bold text-gray-800">{{ company.name }}</h1>
    </div>
    {% for job, cvs in job_applications.items %}
        <div class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">CVs for {{ job.title }}</h2>
            <div class="space-y-4">
                {% for cv in cvs %}
                    <div class="bg-white shadow-md rounded-lg p-6 hover:shadow-lg transition-shadow duration-300">
                        <h3 class="text-xl font-bold text-gray-900">{{ cv.full_name }}</h3>
                        <p class="text-gray-600">Email: <a href="mailto:{{ cv.email }}" class="text-blue-600 hover:text-blue-800">{{ cv.email }}</a></p>
                        <p class="text-gray-600">Phone Number: {{ cv.phone_number }}</p>
                        <p class="
                   text-gray-600 
                 {% if cv.status == 'Pending' %}
                    bg-yellow-100 text-yellow-800
                {% elif cv.status == 'Rejected' %}
                    bg-red-100 text-red-800
                {% endif %}
                  rounded-full px-3 py-1 inline-block
                  ">Status: {{ cv.status }}</p>
        
                        <div class="mt-4">
                          <a href="{% url 'applications:cv-detail' cv.id %}" class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600">View Full CV</a>
                            <a href="#" class="inline-block bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-green-600">Shortlist</a>
                            {% if cv.status == 'Pending' %}
                            <a href="#' cv.id %}" class="inline-block bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-green-600">Accept</a>
                            {% endif %}
                            {% if cv.status != 'Rejected' %}

                            <a href="{% url 'applications:reject-cv' cv.id %}" class="inline-block bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600">Reject</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


