{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {% block title %}

    {% endblock %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
{% block css-path %}

{% endblock %}
  {% tailwind_css %}
  <style>
    .containerc {
      width: 100%;
      padding-right: 144px;
      padding-left: 144px;
      margin-right: auto;
      margin-left: auto;
    }
    @media (min-width: 420px) {
      .container {
        max-width: 590px;
      }
    }
    @media (min-width: 576px) {
      .container {
        max-width: 540px;
      }
    }

    @media (min-width: 768px) {
      .container {
        max-width: 720px;
      }
    }

    @media (min-width: 992px) {
      .container {
        max-width: 960px;
      }
    }

    @media (min-width: 1200px) {
      .container {
        max-width: 1140px;
      }
    }

    @media (min-width: 1400px) {
      .container {
        max-width: 1320px;
      }
    }
  </style>
</head>

<body class="font-sans bg-gray-50">
  <div class="mx-auto ">
    <div>
      <nav class="bg-white border-gray-200 dark:bg-gray-900 ">
        <div class="flex flex-wrap items-center justify-between mx-3 ">
          <a href="{% url 'core:home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://static.topcv.vn/v4/image/logo/topcv-logo-6.png" class="h-[72px] ml-4"
              alt="Flowbite Logo" />

          </a>


          <div class="relative flex space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
            {% if user.is_authenticated %}
            <div class="items-center hidden space-x-4 rounded-lg sm:flex">
              <div>
                <p class="text-sm font-light">Bạn là nhà tuyển dụng?</p>
                {% if user.employer  %}
                <a class="text-sm font-semibold" href="{% url 'applications:post-recruitment' %}">Đăng tuyển >></a>
                {% else %}
                <a class="text-sm font-semibold" href="{% url 'users:register-employer' %}">Đăng tuyển >></a>
                {% endif %}
              </div>
              <div class="inline-block w-0.5 self-stretch bg-neutral-100 dark:bg-white/10"></div>
              <!-- User Profile Picture -->
              <div class="flex items-center ml-2 space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">


                <button id="btn-userdrop" type="button"
                  class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-gray-900 rounded-lg cursor-pointer">
                  <img src="https://www.topcv.vn/images/avatar-default.jpg" alt="Profile Picture"
                    class="w-10 h-10 rounded-full border-2 border-[#00B14F] object-cover mr-2">

                </button>



                <!-- Dropdown -->






                <!-- Welcome Message and User Actions -->
                <!-- <div class="flex-1">
                  <p class="text-lg font-semibold text-gray-700">Chào mừng,
                    {% if user.employer %}
                    {{ user.employer.full_name }}
                    {% else %}
                    {{ user.username }}
                    {% endif %}
                  </p>
                  <p class="text-sm text-gray-500">Chúng tôi rất vui khi thấy bạn trở lại.</p>


                  <div class="flex mt-2 space-x-3">
                    <a
                      class="text-white bg-[#00B14F] hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-md text-sm px-4 py-2">View
                      Profile</a>

                    {# <a class="text-white bg-[#212F3F] hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 font-medium rounded-md text-sm px-4 py-2 ">Post Job</a> #}


                    <a href="{% url 'users:logout' %}"
                      class="px-4 py-2 text-sm font-medium text-white bg-red-600 rounded-md hover:bg-red-700 focus:ring-4 focus:ring-red-300">Logout</a>
                  </div>
                </div> -->


              </div>



              <div
                class="absolute left-[-70px] z-50 my-4 invisible opacity-0 transition-all duration-300 ease-in-out  p-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg   shadow top-12 right-0 dark:bg-gray-700 "
                id="user-dropdown-menu">

                <div class="flex pb-3 mb-6 border-b">
                  <div> <button
                      class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-gray-900 rounded-lg cursor-pointer ">
                      <img src="https://www.topcv.vn/images/avatar-default.jpg" alt="Profile Picture"
                        class="w-10 h-10 rounded-full border-2 border-[#00B14F] object-cover mr-2">
                    </button> </div>
                  <div>
                    <h1 class="font-bold text-[#00B14F]"> {% if user.employer %}
                      {{ user.employer.full_name }}
                      {% else %}
                      {{ user.username }}
                      {% endif %} </h1>
                    <p class="text-sm font-normal text-gray-600">
                       {{ user.email }}</p>
                  </div>
                </div>
                <ul class="flex flex-col gap-3 font-medium " role="none">
                  <li>
                    <a href="{% url 'users:profile' %}" class="block px-4 py-4 text-sm text-gray-700 bg-[#f4f5f5] rounded-md " role="menuitem">
                      <div class="inline-flex items-center gap-2">

                        <span> <i class="bi bi-pencil-square text-[#00B14F]"></i></span> Thông tin cá nhân
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-4 text-sm text-gray-700 bg-[#f4f5f5] rounded-md " role="menuitem">
                      <div class="inline-flex items-center gap-2">

                        <span>

                            <i class="bi bi-shield-lock text-[#00B14F]"></i></span> Cài đặt bảo mật
                      </div>
                    </a>
                  </li>
                    {% if user.employer %}

                    <li>
                    <a href="{% url 'applications:view-applicant-cv' %}" class="block px-4 py-4 text-sm text-gray-700 bg-[#f4f5f5] rounded-md " role="menuitem">
                      <div class="inline-flex items-center gap-2">

                        <span> <i class="bi bi-bell text-[#00B14F]"></i></span> Ứng viên đã ứng tuyển
                      </div>
                    </a>
                  </li>
                    {% endif %}

                  <li>
                    <a href="{% url 'users:logout' %}" class="block px-4 py-4 text-sm text-gray-700 bg-[#f4f5f5] rounded-md " role="menuitem">
                      <div class="inline-flex items-center gap-2">

                        <span> <i class="bi bi-box-arrow-in-right text-[#00B14F]"></i></span> Đăng xuất
                      </div>
                    </a>
                  </li>



                </ul>
              </div>
            </div>
            {% else %}
            <div class="hidden space-x-3 md:block">
              <a type="button" href="{% url 'users:login' %}"
                class="text-black focus:ring-4 focus:outline-none border border-[#00B14F] focus:ring-[#00B14F] font-medium rounded-md text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Đăng
                nhập</a>
              <a type="button" href="{% url 'users:register' %}"
                class="text-white focus:ring-4 focus:outline-none border border-[#00B14F] bg-[#00B14F] focus:ring-[#00B14F] font-medium rounded-md text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Đăng
                ký</a>
              <button type="button"
                class="text-white focus:ring-4 focus:outline-none border bg-[#212F3F] focus:ring-blue-300 font-medium rounded-md text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Đăng
                tuyển & tìm hồ sơ</button>
            </div>
            {% endif %}

            <button id="menu-toggle" data-collapse-toggle="navbar-cta" type="button"
              class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="navbar-cta" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 1h15M1 7h15M1 13h15" />
              </svg>
            </button>
          </div>
          <!--  -->

          <div
            class="items-center justify-between hidden w-full transition-all duration-1000 ease-in-out md:flex md:w-auto md:order-1"
            id="navbar-cta">
            <ul
              class="flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg md:p-0 bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="#"
                  class=" block py-2 px-3 md:p-0 text-white bg-[#00B14F] rounded md:bg-transparent md:text-[#00B14F] md:dark:text-blue-500"
                  aria-current="page">Việc làm</a>
              </li>
              <li>
                <a href="#"
                  class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-[#00B14F] md:dark:hover:text-[#00B14F] dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Hồ
                  sơ & CV</a>
              </li>
              <li>
                <a href="#"
                  class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-[#00B14F] md:dark:hover:text-[#00B14F] dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Công
                  ty</a>
              </li>
              <li>
                <a href="#"
                  class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-[#00B14F] md:dark:hover:text-[#00B14F] dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Công
                  cụ</a>
              </li>
              <li>
                <a href="#"
                  class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-[#00B14F] md:dark:hover:text-[#00B14F] dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Cẩm
                  nang nghề nghiệp</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <script>

        document.addEventListener('DOMContentLoaded', function () {
          const userDrop = document.getElementById('btn-userdrop');
          const dropMenu = document.getElementById('user-dropdown-menu');

          userDrop.addEventListener('mouseenter', function () {
            dropMenu.classList.toggle('invisible');
            dropMenu.classList.toggle('opacity-0');

          });

          dropMenu.addEventListener('mouseleave', function () {
            dropMenu.classList.toggle('invisible');
            dropMenu.classList.toggle('opacity-0');

          });

        });




      </script>


      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const menuToggle = document.getElementById('menu-toggle');
          const navbarCta = document.getElementById('navbar-cta');

          menuToggle.addEventListener('click', function () {
            const isExpanded = navbarCta.getAttribute('aria-expanded') === 'true';

            navbarCta.setAttribute('aria-expanded', !isExpanded);
            // Thay đổi aria-expanded từ true thành false và ngược lại

            if (isExpanded) {
              navbarCta.classList.add('hidden');
              // Nếu menu đã mở, thêm lớp 'hidden' để ẩn đi
            } else {
              navbarCta.classList.remove('hidden');
              // Nếu menu đang đóng, loại bỏ lớp 'hidden' để hiển thị
            }
          });
        });
      </script>
    </div>
    <div class="bg-[#f4f5f5]">
      {% block content %}

      {% endblock %}
    </div>
  </div>

  {% block script %}

  {% endblock %}


</body>

</html>
