    <footer class="bg-white pt-10">
      <div class="footer-main">
        <div class="sm:containerc  px-6 sm:px-[144px] py-6 ">
          <div class="grid md:grid-cols-4 gap-4">
            <div class="column space-y-6">
              <a>
                <img src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/logo/topcv-logo-footer-6.png"
                  class="mb-4" alt="TopCV tuyen dung tai TopCV" title="TopCV tuyển dụng tại TopCV">
              </a>
              <div class="flex mb-8">
                <img
                  src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/footer/google_for_startup.png"
                  class="img-responsive" alt="" title="">
                <a href="https://www.dmca.com/Protection/Status.aspx?ID=8be40718-7da1-4b43-875a-3efb819100c9&amp;refurl=https://www.topcv.vn/"
                  title="DMCA.com Protection Status" class="dmca-badge">
                  <img
                    src="https://images.dmca.com/Badges/DMCA_badge_grn_60w.png?ID=8be40718-7da1-4b43-875a-3efb819100c9"
                    alt="DMCA.com Protection Status" class="dmca-image">
                </a>
                <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
                <a href="http://online.gov.vn/Home/WebDetails/25388" target="_blank">
                  <img src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/footer/bct.jpg"
                    class="img-responsive bct-image" alt="" title="">
                </a>
              </div>
              <div class=" mb-7">
                <p class="text-base font-bold">Liên hệ</p>
                <span>Hotline:</span><a href="tel:02466805588">(024) 6680 5588 (Giờ hành chính)</a><br>
                <span>Email:</span><a href="mailto:hotro@topcv.vn">hotro@topcv.vn</a>
              </div>
              <div class="box-download">
                <p class="text-base font-bold mb-6">Ứng dụng tải xuống</p>
                <div class="flex">
                  <a target="_blank"
                    href="https://itunes.apple.com/us/app/topcv-t%E1%BA%A1o-cv-t%C3%ACm-vi%E1%BB%87c-l%C3%A0m/id1455928592?ls=1&amp;mt=8"><img
                      class="img-responsive"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/download/app_store.png"
                      alt="Tai app TopCV tai App Store" title="Tải app TopCV tại App Store"></a>
                  <a target="_blank" href="https://play.google.com/store/apps/details?id=com.topcv"><img
                      class="img-responsive"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/download/chplay.png"
                      alt="Tai app TopCV tai Google Play" title="Tải app TopCV tại Google Play"></a>
                </div>
              </div>
              <div class="box-social">
                <p class="ext-base font-bold mb-6">Cộng đồng TopCV</p>
                <div class="flex gap-3">
                  <a target="_blank" href="https://www.facebook.com/topcvbiz/">
                    <img class="img-responsive"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/footer/facebook.png">
                  </a>
                  <a target="_blank" href="https://www.youtube.com/c/TopCVpro">
                    <img class="img-responsive"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/footer/youtube.png">
                  </a>
                  <a target="_blank" href="https://www.linkedin.com/company/topcv-vietnam">
                    <img class="img-responsive"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/footer/linkedin.png">
                  </a>
                  <a target="_blank" href="https://www.tiktok.com/@topcv">
                    <img class="img-responsive"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/footer/tiktok.png">
                  </a>
                </div>
              </div>
            </div>


            <div class="column ">
              <div class="space-y-3 ">
                <div class="font-bold text-base">
                  Về TopCV
                </div>
                <div class="space-y-3">
                  <div >Giới thiệu</div>
                  <div >Góc báo chí</div>
                  <div>Tuyển
                    dụng</div>
                  <div >Liên hệ</div>
                  <div >Hỏi đáp</div>
                  <div >Chính sách bảo mật</div>
                  <div >Quy chế hoạt
                    động</div>
                </div>
              </div>
              <div class="space-y-3 mt-6">
                <div class="font-bold text-base">
                  Đối tác
                </div>
                <div class="space-y-3">
                  <div href="https://www.testcenter.vn/" target="_blank">TestCenter</div>
                  <div href="https://tophr.vn" target="_blank">TopHR</div>
                  <div href="https://www.viecngay.vn/" target="_blank">ViecNgay</div>
                  <div href="https://happytime.vn/" target="_blank">Happy Time</div>
                </div>
              </div>
            </div>
            <div class="column ">
              <div class="space-y-3">
                <div class="font-bold text-base">
                  Hồ sơ và CV
                </div>
                <div class="space-y-3 ">
                  <div >Quản lý CV của bạn</div>
                  <div >TopCV Profile</div>
                  <div>Hướng dẫn viết CV</div>
                  <div >Liên hệ</div>
                  <div >Hỏi đáp</div>
                  <div >Thư viện CV theo ngành nghề</div>
                  <div >Review CV</div>
                </div>
              </div>
              <div class="space-y-3 mt-6">
                <div class="font-bold text-base">
                  Khám phá
                </div>
                <div class="space-y-3 ">
                  <div >Ứng dụng di động TopCV</div>
                  <div >Tính lương Gross - Net</div>
                  <div>Tính lãi suất kép</div>
                  <div > Lập kế hoạch tiết kiệm</div>
                </div>
              </div>
            </div>
            <div class="column ">
              <div class="space-y-3">
                <div class="font-bold text-base">
                  Xây dựng sự nghiệp
                </div>
                <div class="space-y-3">
                  <div >Việc làm tốt nhất</div>
                  <div >Việc làm lương cao</div>
                  <div>Việc làm quản lý</div>
                  <div >Việc làm IT</div>
                  <div >Việc làm Senior</div>
                  <div >Việc làm bán thời gian</div>
                 
                </div>
              </div>
              <div class="space-y-3 mt-6">
                <div class="font-bold text-base">
                  Phát triển bản thân
                </div>
                <div class="space-y-3">
                  <div >TopCV Contest</div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </footer>


