{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div>
  <!-- main -->
  {% include "core/header.html" %}
  <!-- main -->
  <div class="bg-[#f3f5f7]">
    <div class="sm:containerc px-6 sm:px-[144px] py-6">
      <div class="flex gap-3 items-center    ">
        <h1 class="text-[24px] font-bold border-r-2 border-slate-600 pr-3 text-[#00B14F]"> Việc làm tốt nhất </h1> <img
          class="w-[110px] h-[26px]"
          src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/feature-job/label-toppy-ai.png"
          alt="">
      </div>
      <div class="hidden sm:block">
        <div class="box-smart-location">
          <div class="prev-location btn-slick-arrow"><i class="fa-solid fa-angle-left"></i></div>
          <div class="flex items-center mt-3">

            <button
              class=" text-white bg-[#00B14F]  focus:outline-none focus:ring-4 focus:ring-[#00B14F] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 ">
              Ngẫu Nhiên
            </button>
            <button
              class=" text-black bg-[#E9EAEC]  focus:outline-none hover:ring-1 hover:ring-[#00B14F] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">
              Hà Nội
            </button>
            <button
              class=" text-black bg-[#E9EAEC]  focus:outline-none hover:ring-1 hover:ring-[#00B14F] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">
              Thành phố Hồ Chí Minh
            </button>
            <button
              class=" text-black bg-[#E9EAEC]  focus:outline-none hover:ring-1 hover:ring-[#00B14F] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">
              Miền Bắc
            </button>
            <button
              class=" text-black bg-[#E9EAEC]  focus:outline-none hover:ring-1 hover:ring-[#00B14F] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">
              Miền Nam
            </button>

          </div>
          <div class="next-location btn-slick-arrow"><i class="fa-solid fa-angle-right"></i></div>
        </div>
      </div>
      <div>
        <div class="mt-3 grid 2xl:grid-cols-3  min-[1800px]:grid-cols-4">
          <!-- ITEM VIỆC LÀM -->
            {% include 'jobs/top_jobs.html' with top_jobs=top_jobs %}

        </div>
      </div>
      <!-- top companies -->
      <div class="py-3">
        <div class="py-6">
          <h1 class="text-[24px] font-bold border-r-2 border-slate-600 pr-3 text-[#00B14F]"> Top công ty hàng đầu </h1>
        </div>



        <div class="grid 2xl:grid-cols-4 min-[1800px]:grid-cols-5">
          <!-- item company -->
          {% include 'jobs/top_company.html' with top_companies=top_companies %}
        </div>

      </div>

    </div>
    <!-- over tool -->
    <div
      style="background-image: url('https://static.topcv.vn/v4/image/welcome/box-flash-badge/cover.png'); background-repeat: no-repeat ; background-position: center; background-size: cover; ">
      <div class="sm:containerc  px-6 sm:px-[144px] py-6 ">
        <div class=" sm:flex justify-center text-white text-[40px] font-bold">
          <h1>Công cụ vượt trội</h1>
        </div>
        <div class=" md:flex gap-32 justify-center ">

          <div>
            <!-- item overtool -->
            <div>
              <div class=" gap-3 bg-white p-4 rounded-lg mt-8 flex">
                <div class="">
                  <img class="h-12 w-12"
                    src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/gross-net.png">
                </div>
                <div class="">
                  <h3 class="text-base font-bold">Tính lương GROSS - NET</h3>
                  <span class="text-[#00B14F]">
                    Khám phá ngay
                    <i class="fa-solid fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- item overtool -->
            <div>
              <div class=" gap-3 w-fit bg-white p-4 rounded-lg mt-8 flex">
                <div class="">
                  <img class="h-12 w-12"
                    src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/lai-suat-kep.png">
                </div>
                <div class="">
                  <h3 class="text-base font-bold">Tính lãi suất kép</h3>
                  <span class="text-[#00B14F]">
                    Khám phá ngay
                    <i class="fa-solid fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- item overtool -->
            <div>
              <div class=" gap-3 bg-white p-4 rounded-lg mt-8 flex">
                <div class="">
                  <img class="h-12 w-12"
                    src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/thu-nhap-ca-nhan.png">
                </div>
                <div class="">
                  <h3 class="text-base font-bold"> Tính thuế thu nhập cá nhân</h3>
                  <span class="text-[#00B14F]">
                    Khám phá ngay
                    <i class="fa-solid fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div><img class="h-[387px] w-[ 340px ]"
              src="https://static.topcv.vn/v4/image/welcome/superior-tool/superior-tool-bg.png?v=1.0.1" alt=""></div>
          <div>

            <div>
              <!-- item overtool -->
              <div>
                <div class=" gap-3 bg-white p-4 rounded-lg mt-8 flex">
                  <div class="">
                    <img class="h-12 w-12"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/bao-hiem-that-nghiep.png">
                  </div>
                  <div class="">
                    <h3 class="text-base font-bold">Tính bảo hiểm thất nghiệp</h3>
                    <span class="text-[#00B14F]">
                      Khám phá ngay
                      <i class="fa-solid fa-arrow-right"></i>
                    </span>
                  </div>
                </div>
              </div>
              <!-- item overtool -->
              <div>
                <div class=" gap-3 bg-white w-fit p-4 rounded-lg mt-8 flex">
                  <div class="">
                    <img class="h-12 w-12"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/ke-hoach-tiet-kiem.png">
                  </div>
                  <div class="">
                    <h3 class="text-base font-bold">Lập kế hoạch tiết kiệm</h3>
                    <span class="text-[#00B14F]">
                      Khám phá ngay
                      <i class="fa-solid fa-arrow-right"></i>
                    </span>
                  </div>
                </div>
              </div>
              <!-- item overtool -->
              <div>
                <div class=" gap-3 bg-white p-4 rounded-lg mt-8 flex">
                  <div class="">
                    <img class="h-12 w-12"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/bao-hiem-xa-hoi-mot-lan.png">
                  </div>
                  <div class="">
                    <h3 class="text-base font-bold"> Bảo hiểm xã hổi một lần </h3>
                    <span class="text-[#00B14F]">
                      Khám phá ngay
                      <i class="fa-solid fa-arrow-right"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- top work -->
    <div class="sm:containerc  px-6 sm:px-[144px] py-6 ">

    <div class="sm:containerc bg-white  px-6 sm:px-[144px] py-6 ">
      <!-- top jobs -->
      <div class="">
        <h1 class="text-[24px] font-bold mb-6 border-r-2 border-slate-600 pr-3 text-[#00B14F]">
          Top ngành nghề nổi bật
        </h1>

        <div class="grid md:grid-cols-4">
          <!-- item top job -->
          {% include 'jobs/top_category.html' with top_categories=top_categories %}


        </div>

      </div>
      <div>

        <div class="py-6">
          <h1 class="text-[24px] font-bold border-r-2 border-slate-600 pr-3 text-[#00B14F]"> Cùng TopCV xây dựng thương
            hiệu cá nhân
          </h1>
        </div>
        <div class="grid md:grid-cols-2 gap-6 ">
          <!-- item topwork -->
          <div class="flex bg-[#F3F5F7] rounded-lg hover:border hover:shadow hover:shadow-[#00B14F]  ">
            <div class=" space-y-6 p-4 ">
              <h3 class="text-xl font-bold mb-3">
                TopCV Profile
              </h3>
              <p class="text-sm font-semibold text-[#6F7882] mb-5">
                TopCV Profile là bản hồ sơ năng lực giúp bạn xây dựng thương hiệu cá nhân, thể hiện
                thế mạnh của bản thân thông qua việc đính kèm học vấn, kinh nghiệm, dự án, kỹ
                năng,... của mình
              </p>
              <div class="bg-[#00B14F] text-white  w-fit py-1 px-4 rounded-md ">
                Tạo Profile

              </div>
            </div>
            <div class="">
              <img class=""
                src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/sel-growth/profile-desktop.png">
            </div>
          </div>

          <div class="flex bg-[#F3F5F7] rounded-lg hover:border hover:shadow hover:shadow-[#00B14F]  ">
            <div class=" space-y-6 p-4 ">
              <h3 class="text-xl font-bold mb-3">
                TopCV Profile
              </h3>
              <p class="text-sm font-semibold text-[#6F7882] mb-5">
                TopCV Profile là bản hồ sơ năng lực giúp bạn xây dựng thương hiệu cá nhân, thể hiện
                thế mạnh của bản thân thông qua việc đính kèm học vấn, kinh nghiệm, dự án, kỹ
                năng,... của mình
              </p>
              <div class="bg-[#00B14F] text-white  w-fit py-1 px-4 rounded-md ">
                Tạo Profile

              </div>
            </div>
            <div class="">
              <img class=""
                src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/sel-growth/profile-desktop.png">
            </div>
          </div>

          <!-- item topwork -->
          <div class="flex bg-[#F3F5F7] rounded-lg hover:border hover:shadow hover:shadow-[#00B14F]  ">
            <div class=" space-y-6 p-4 ">
              <h3 class="text-xl font-bold mb-3">
                TopCV Profile
              </h3>
              <p class="text-sm font-semibold text-[#6F7882] mb-5">
                TopCV Profile là bản hồ sơ năng lực giúp bạn xây dựng thương hiệu cá nhân, thể hiện
                thế mạnh của bản thân thông qua việc đính kèm học vấn, kinh nghiệm, dự án, kỹ
                năng,... của mình
              </p>
              <div class="bg-[#00B14F] text-white  w-fit py-1 px-4 rounded-md ">
                Tạo Profile

              </div>
            </div>
            <div class="">
              <img class=""
                src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/sel-growth/profile-desktop.png">
            </div>
          </div>

          <!-- item topwork -->
          <div class="flex bg-[#F3F5F7] rounded-lg hover:border hover:shadow hover:shadow-[#00B14F]  ">
            <div class=" space-y-6 p-4 ">
              <h3 class="text-xl font-bold mb-3">
                TopCV Profile
              </h3>
              <p class="text-sm font-semibold text-[#6F7882] mb-5">
                TopCV Profile là bản hồ sơ năng lực giúp bạn xây dựng thương hiệu cá nhân, thể hiện
                thế mạnh của bản thân thông qua việc đính kèm học vấn, kinh nghiệm, dự án, kỹ
                năng,... của mình
              </p>
              <div class="bg-[#00B14F] text-white  w-fit py-1 px-4 rounded-md ">
                Tạo Profile

              </div>
            </div>
            <div class="">
              <img class=""
                src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/sel-growth/profile-desktop.png">
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
     {% include "core/footer.html" %}
  {% block script %}
  <script src="{% static 'core/chart.js' %}"></script>
  {% endblock %}
</div>

{% endblock %}
