{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div>
  <!-- main -->
  {% include "core/header.html" %}
  <!-- main -->
  <div class="bg-[#f3f5f7]">
    <div class="sm:containerc  px-6 sm:px-[144px] py-6">
      <div class="flex gap-3 items-center    ">
        <h1 class="text-[24px] font-bold border-r-2 border-slate-600 pr-3 text-[#00B14F]"> Việc làm tốt nhất </h1> <img
          class="w-[110px] h-[26px]"
          src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/feature-job/label-toppy-ai.png"
          alt="">
      </div>
      <div class="hidden sm:block">
        <div class="box-smart-location">
          <div class="prev-location btn-slick-arrow"><i class="fa-solid fa-angle-left"></i></div>
          <div class="flex items-center mt-3">

            <button
              class=" text-white bg-[#00B14F]  focus:outline-none focus:ring-4 focus:ring-[#00B14F] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 ">
              Ngẫu Nhiên
            </button>
            <button
              class=" text-black bg-[#E9EAEC]  focus:outline-none hover:ring-1 hover:ring-[#00B14F] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">
              Hà Nội
            </button>
            <button
              class=" text-black bg-[#E9EAEC]  focus:outline-none hover:ring-1 hover:ring-[#00B14F] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">
              Thành phố Hồ Chí Minh
            </button>
            <button
              class=" text-black bg-[#E9EAEC]  focus:outline-none hover:ring-1 hover:ring-[#00B14F] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">
              Miền Bắc
            </button>
            <button
              class=" text-black bg-[#E9EAEC]  focus:outline-none hover:ring-1 hover:ring-[#00B14F] font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">
              Miền Nam
            </button>

          </div>
          <div class="next-location btn-slick-arrow"><i class="fa-solid fa-angle-right"></i></div>
        </div>
      </div>
      <div>
        <div class="mt-3 grid 2xl:grid-cols-3  min-[1800px]:grid-cols-4">
          <!-- ITEM VIỆC LÀM -->
          <div class="bg-white rounded-md p-3 m-[10px] 2xl:w-[369px]    ">
            <div class="flex gap-3 items-center">
              <a>
                <div class="box-company-logo">
                  <div class="avatar">
                    <img
                      src="https://cdn-new.topcv.vn/unsafe/200x/https://static.topcv.vn/company_logos/7fvFMjFj92FKStMmcH0Q9sSxgRZ7gol4_1715230730____8bf94e6c8a59f0ff4c549ccf93f57fe6.jpeg"
                      class="h-[70px] w-[70px]">
                  </div>
                  <div>
                  </div>
                </div>
              </a>
              <div class="overflow-hidden space-y-2  ">
                <div class="space-y-2">
                  <div>
                    <a>
                      <strong class="text-[14px] block truncate w-[250px] ">
                        Nhân Viên Livestream TikTok - Tại Hồ Chí Minh - Thu Nhập Hấp Dẫn Lên Đến 25 Triệu (Lương Cứng 10
                        Triệu + Thưởng Doanh Số)
                      </strong>
                    </a>
                  </div>
                  <div class=" sm:text-[12px] font-semibold">CÔNG TY CỔ PHẦN LIVESTREAM VIỆT NAM</div>
                </div>
                <div>
                  <div class="flex gap-3 text-[12px] font-semibold">
                    <div><span>10 - 35 triệu</span></div>
                    <div class="address"><span>Hồ Chí Minh</span></div>
                  </div>
                  <div class="col-">
                    <a>
                      <button>
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ITEM VIỆC LÀM -->
          <div class="bg-white rounded-sm p-3 m-[10px] 2xl:w-[369px]    ">
            <div class="flex gap-3 items-center">
              <a>
                <div class="box-company-logo">
                  <div class="avatar">
                    <img
                      src="https://cdn-new.topcv.vn/unsafe/200x/https://static.topcv.vn/company_logos/7fvFMjFj92FKStMmcH0Q9sSxgRZ7gol4_1715230730____8bf94e6c8a59f0ff4c549ccf93f57fe6.jpeg"
                      class="h-[70px] w-[70px]">
                  </div>
                  <div>
                  </div>
                </div>
              </a>
              <div class="overflow-hidden space-y-2  ">
                <div class="space-y-2">
                  <div>
                    <a>
                      <strong class="text-[14px] block truncate w-[250px] ">
                        Nhân Viên Livestream TikTok - Tại Hồ Chí Minh - Thu Nhập Hấp Dẫn Lên Đến 25 Triệu (Lương Cứng 10
                        Triệu + Thưởng Doanh Số)
                      </strong>
                    </a>
                  </div>
                  <div class=" sm:text-[12px] font-semibold">CÔNG TY CỔ PHẦN LIVESTREAM VIỆT NAM</div>
                </div>
                <div>
                  <div class="flex gap-3 text-[12px] font-semibold">
                    <div><span>10 - 35 triệu</span></div>
                    <div class="address"><span>Hồ Chí Minh</span></div>
                  </div>
                  <div class="col-">
                    <a>
                      <button>
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ITEM VIỆC LÀM -->
          <div class="bg-white rounded-sm p-3 m-[10px] 2xl:w-[369px]    ">
            <div class="flex gap-3 items-center">
              <a>
                <div class="box-company-logo">
                  <div class="avatar">
                    <img
                      src="https://cdn-new.topcv.vn/unsafe/200x/https://static.topcv.vn/company_logos/7fvFMjFj92FKStMmcH0Q9sSxgRZ7gol4_1715230730____8bf94e6c8a59f0ff4c549ccf93f57fe6.jpeg"
                      class="h-[70px] w-[70px]">
                  </div>
                  <div>
                  </div>
                </div>
              </a>
              <div class="overflow-hidden space-y-2  ">
                <div class="space-y-2">
                  <div>
                    <a>
                      <strong class="text-[14px] block truncate w-[250px] ">
                        Nhân Viên Livestream TikTok - Tại Hồ Chí Minh - Thu Nhập Hấp Dẫn Lên Đến 25 Triệu (Lương Cứng 10
                        Triệu + Thưởng Doanh Số)
                      </strong>
                    </a>
                  </div>
                  <div class=" sm:text-[12px] font-semibold">CÔNG TY CỔ PHẦN LIVESTREAM VIỆT NAM</div>
                </div>
                <div>
                  <div class="flex gap-3 text-[12px] font-semibold">
                    <div><span>10 - 35 triệu</span></div>
                    <div class="address"><span>Hồ Chí Minh</span></div>
                  </div>
                  <div class="col-">
                    <a>
                      <button>
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ITEM VIỆC LÀM -->
          <div class="bg-white rounded-sm p-3 m-[10px] 2xl:w-[369px]    ">
            <div class="flex gap-3 items-center">
              <a>
                <div class="box-company-logo">
                  <div class="avatar">
                    <img
                      src="https://cdn-new.topcv.vn/unsafe/200x/https://static.topcv.vn/company_logos/7fvFMjFj92FKStMmcH0Q9sSxgRZ7gol4_1715230730____8bf94e6c8a59f0ff4c549ccf93f57fe6.jpeg"
                      class="h-[70px] w-[70px]">
                  </div>
                  <div>
                  </div>
                </div>
              </a>
              <div class="overflow-hidden space-y-2  ">
                <div class="space-y-2">
                  <div>
                    <a>
                      <strong class="text-[14px] block truncate w-[250px] ">
                        Nhân Viên Livestream TikTok - Tại Hồ Chí Minh - Thu Nhập Hấp Dẫn Lên Đến 25 Triệu (Lương Cứng 10
                        Triệu + Thưởng Doanh Số)
                      </strong>
                    </a>
                  </div>
                  <div class=" sm:text-[12px] font-semibold">CÔNG TY CỔ PHẦN LIVESTREAM VIỆT NAM</div>
                </div>
                <div>
                  <div class="flex gap-3 text-[12px] font-semibold">
                    <div><span>10 - 35 triệu</span></div>
                    <div class="address"><span>Hồ Chí Minh</span></div>
                  </div>
                  <div class="col-">
                    <a>
                      <button>
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>







        </div>
      </div>
      <!-- best company -->
      <div class="py-3">
        <div class="py-6">
          <h1 class="text-[24px] font-bold border-r-2 border-slate-600 pr-3 text-[#00B14F]"> Top công ty hàng đầu </h1>
        </div>



        <div class="grid 2xl:grid-cols-4 min-[1800px]:grid-cols-5">
          <!-- item company -->
          <div
            class="h-[208px] 2xl:w-[270px] bg-white flex flex-col justify-center items-center p-4 rounded-xl text-sm font-bold mt-5  border-2  ">
            <img data-src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg" alt="Logo"
              class="lazy entered loaded" data-ll-status="loaded"
              src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg">
            <h3 class="top-company__title">Bảo hiểm VietinBank</h3>
          </div>
          <!-- item company -->
          <div
            class="h-[208px] 2xl:w-[270px] bg-white flex flex-col justify-center items-center p-4 rounded-xl text-sm font-bold mt-5  border-2  ">
            <img data-src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg" alt="Logo"
              class="lazy entered loaded" data-ll-status="loaded"
              src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg">
            <h3 class="top-company__title">Bảo hiểm VietinBank</h3>
          </div>
          <!-- item company -->
          <div
            class="h-[208px] 2xl:w-[270px] bg-white flex flex-col justify-center items-center p-4 rounded-xl text-sm font-bold mt-5  border-2  ">
            <img data-src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg" alt="Logo"
              class="lazy entered loaded" data-ll-status="loaded"
              src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg">
            <h3 class="top-company__title">Bảo hiểm VietinBank</h3>
          </div>
          <!-- item company -->
          <div
            class="h-[208px] 2xl:w-[270px] bg-white flex flex-col justify-center items-center p-4 rounded-xl text-sm font-bold mt-5  border-2  ">
            <img data-src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg" alt="Logo"
              class="lazy entered loaded" data-ll-status="loaded"
              src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg">
            <h3 class="top-company__title">Bảo hiểm VietinBank</h3>
          </div>
          <!-- item company -->
          <div
            class="h-[208px] 2xl:w-[270px] bg-white flex flex-col justify-center items-center p-4 rounded-xl text-sm font-bold mt-5  border-2  ">
            <img data-src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg" alt="Logo"
              class="lazy entered loaded" data-ll-status="loaded"
              src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg">
            <h3 class="top-company__title">Bảo hiểm VietinBank</h3>
          </div>
          <!-- item company -->
          <div
            class="h-[208px] 2xl:w-[270px] bg-white flex flex-col justify-center items-center p-4 rounded-xl text-sm font-bold mt-5  border-2  ">
            <img data-src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg" alt="Logo"
              class="lazy entered loaded" data-ll-status="loaded"
              src="https://static.topcv.vn/company_logos/bao-hiem-vietinbank-5c7f3c6e549b5_rs.jpg">
            <h3 class="top-company__title">Bảo hiểm VietinBank</h3>
          </div>





        </div>



      </div>

    </div>
    <!-- over tool -->
    <div
      style="background-image: url('https://static.topcv.vn/v4/image/welcome/box-flash-badge/cover.png'); background-repeat: no-repeat ; background-position: center; background-size: cover; ">
      <div class="sm:containerc  px-6 sm:px-[144px] py-6 ">
        <div class=" sm:flex justify-center text-white text-[40px] font-bold">
          <h1>Công cụ vượt trội</h1>
        </div>
        <div class=" md:flex gap-32 justify-center ">

          <div>
            <!-- item overtool -->
            <div>
              <div class=" gap-3 bg-white p-4 rounded-lg mt-8 flex">
                <div class="">
                  <img class="h-12 w-12"
                    src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/gross-net.png">
                </div>
                <div class="">
                  <h3 class="text-base font-bold">Tính lương GROSS - NET</h3>
                  <span class="text-[#00B14F]">
                    Khám phá ngay
                    <i class="fa-solid fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- item overtool -->
            <div>
              <div class=" gap-3 w-fit bg-white p-4 rounded-lg mt-8 flex">
                <div class="">
                  <img class="h-12 w-12"
                    src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/lai-suat-kep.png">
                </div>
                <div class="">
                  <h3 class="text-base font-bold">Tính lãi suất kép</h3>
                  <span class="text-[#00B14F]">
                    Khám phá ngay
                    <i class="fa-solid fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- item overtool -->
            <div>
              <div class=" gap-3 bg-white p-4 rounded-lg mt-8 flex">
                <div class="">
                  <img class="h-12 w-12"
                    src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/thu-nhap-ca-nhan.png">
                </div>
                <div class="">
                  <h3 class="text-base font-bold"> Tính thuế thu nhập cá nhân</h3>
                  <span class="text-[#00B14F]">
                    Khám phá ngay
                    <i class="fa-solid fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div><img class="h-[387px] w-[ 340px ]"
              src="https://static.topcv.vn/v4/image/welcome/superior-tool/superior-tool-bg.png?v=1.0.1" alt=""></div>
          <div>

            <div>
              <!-- item overtool -->
              <div>
                <div class=" gap-3 bg-white p-4 rounded-lg mt-8 flex">
                  <div class="">
                    <img class="h-12 w-12"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/bao-hiem-that-nghiep.png">
                  </div>
                  <div class="">
                    <h3 class="text-base font-bold">Tính bảo hiểm thất nghiệp</h3>
                    <span class="text-[#00B14F]">
                      Khám phá ngay
                      <i class="fa-solid fa-arrow-right"></i>
                    </span>
                  </div>
                </div>
              </div>
              <!-- item overtool -->
              <div>
                <div class=" gap-3 bg-white w-fit p-4 rounded-lg mt-8 flex">
                  <div class="">
                    <img class="h-12 w-12"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/ke-hoach-tiet-kiem.png">
                  </div>
                  <div class="">
                    <h3 class="text-base font-bold">Lập kế hoạch tiết kiệm</h3>
                    <span class="text-[#00B14F]">
                      Khám phá ngay
                      <i class="fa-solid fa-arrow-right"></i>
                    </span>
                  </div>
                </div>
              </div>
              <!-- item overtool -->
              <div>
                <div class=" gap-3 bg-white p-4 rounded-lg mt-8 flex">
                  <div class="">
                    <img class="h-12 w-12"
                      src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/superior-tool/bao-hiem-xa-hoi-mot-lan.png">
                  </div>
                  <div class="">
                    <h3 class="text-base font-bold"> Bảo hiểm xã hổi một lần </h3>
                    <span class="text-[#00B14F]">
                      Khám phá ngay
                      <i class="fa-solid fa-arrow-right"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="sm:containerc bg-white  px-6 sm:px-[144px] py-6 ">
      <!-- top jobs -->
      <div class="">
        <h1 class="text-[24px] font-bold mb-6 border-r-2 border-slate-600 pr-3 text-[#00B14F]">
          Top ngành nghề nổi bật
        </h1>

        <div class="grid md:grid-cols-4">
          <!-- item top job -->
          <div class="mx-3">
            <div
              class="flex justify-center items-center flex-col bg-[#F3F5F7] rounded-lg p-6 mb-6 shadow hover:shadow-[#00B14F] ">

              <div class="top-category__image ">
                <a>
                  <img class=" h-[100px] w-[100px]"
                    src="https://www.topcv.vn/v4/image/welcome/top-categories/it-phan-mem.png?v=2">
                </a>
              </div>

              <div class="text-center">
                <h3 class="top-category__name font-bold"><a>IT phần mềm</a>
                </h3>
                <p class="top-category__caption font-medium text-sm text-[#00B14F]">14.695 việc làm</p>
              </div>


            </div>
          </div>

          <!-- item top job -->
          <div class="mx-3">
            <div
              class="flex justify-center items-center flex-col bg-[#F3F5F7] rounded-lg p-6 mb-6 shadow hover:shadow-[#00B14F] ">

              <div class="top-category__image ">
                <a>
                  <img class=" h-[100px] w-[100px]"
                    src="https://www.topcv.vn/v4/image/welcome/top-categories/it-phan-mem.png?v=2">
                </a>
              </div>

              <div class="text-center">
                <h3 class="top-category__name font-bold"><a>IT phần mềm</a>
                </h3>
                <p class="top-category__caption font-medium text-sm text-[#00B14F]">14.695 việc làm</p>
              </div>


            </div>
          </div>

          <!-- item top job -->
          <div class="mx-3">
            <div
              class="flex justify-center items-center flex-col bg-[#F3F5F7] rounded-lg p-6 mb-6 shadow hover:shadow-[#00B14F] ">

              <div class="top-category__image ">
                <a>
                  <img class=" h-[100px] w-[100px]"
                    src="https://www.topcv.vn/v4/image/welcome/top-categories/it-phan-mem.png?v=2">
                </a>
              </div>

              <div class="text-center">
                <h3 class="top-category__name font-bold"><a>IT phần mềm</a>
                </h3>
                <p class="top-category__caption font-medium text-sm text-[#00B14F]">14.695 việc làm</p>
              </div>


            </div>
          </div>

          <!-- item top job -->
          <div class="mx-3">
            <div
              class="flex justify-center items-center flex-col bg-[#F3F5F7] rounded-lg p-6 mb-6 shadow hover:shadow-[#00B14F] ">

              <div class="top-category__image ">
                <a>
                  <img class=" h-[100px] w-[100px]"
                    src="https://www.topcv.vn/v4/image/welcome/top-categories/it-phan-mem.png?v=2">
                </a>
              </div>

              <div class="text-center">
                <h3 class="top-category__name font-bold"><a>IT phần mềm</a>
                </h3>
                <p class="top-category__caption font-medium text-sm text-[#00B14F]">14.695 việc làm</p>
              </div>


            </div>
          </div>

          <!-- item top job -->
          <div class="mx-3">
            <div
              class="flex justify-center items-center flex-col bg-[#F3F5F7] rounded-lg p-6 mb-6 shadow hover:shadow-[#00B14F] ">

              <div class="top-category__image ">
                <a>
                  <img class=" h-[100px] w-[100px]"
                    src="https://www.topcv.vn/v4/image/welcome/top-categories/it-phan-mem.png?v=2">
                </a>
              </div>

              <div class="text-center">
                <h3 class="top-category__name font-bold"><a>IT phần mềm</a>
                </h3>
                <p class="top-category__caption font-medium text-sm text-[#00B14F]">14.695 việc làm</p>
              </div>


            </div>
          </div>

          <!-- item top job -->
          <div class="mx-3">
            <div
              class="flex justify-center items-center flex-col bg-[#F3F5F7] rounded-lg p-6 mb-6 shadow hover:shadow-[#00B14F] ">

              <div class="top-category__image ">
                <a>
                  <img class=" h-[100px] w-[100px]"
                    src="https://www.topcv.vn/v4/image/welcome/top-categories/it-phan-mem.png?v=2">
                </a>
              </div>

              <div class="text-center">
                <h3 class="top-category__name font-bold"><a>IT phần mềm</a>
                </h3>
                <p class="top-category__caption font-medium text-sm text-[#00B14F]">14.695 việc làm</p>
              </div>


            </div>
          </div>

          <!-- item top job -->
          <div class="mx-3">
            <div
              class="flex justify-center items-center flex-col bg-[#F3F5F7] rounded-lg p-6 mb-6 shadow hover:shadow-[#00B14F] ">

              <div class="top-category__image ">
                <a>
                  <img class=" h-[100px] w-[100px]"
                    src="https://www.topcv.vn/v4/image/welcome/top-categories/it-phan-mem.png?v=2">
                </a>
              </div>

              <div class="text-center">
                <h3 class="top-category__name font-bold"><a>IT phần mềm</a>
                </h3>
                <p class="top-category__caption font-medium text-sm text-[#00B14F]">14.695 việc làm</p>
              </div>


            </div>
          </div>

          <!-- item top job -->
          <div class="mx-3">
            <div
              class="flex justify-center items-center flex-col bg-[#F3F5F7] rounded-lg p-6 mb-6 shadow hover:shadow-[#00B14F] ">

              <div class="top-category__image ">
                <a>
                  <img class=" h-[100px] w-[100px]"
                    src="https://www.topcv.vn/v4/image/welcome/top-categories/it-phan-mem.png?v=2">
                </a>
              </div>

              <div class="text-center">
                <h3 class="top-category__name font-bold"><a>IT phần mềm</a>
                </h3>
                <p class="top-category__caption font-medium text-sm text-[#00B14F]">14.695 việc làm</p>
              </div>


            </div>
          </div>











        </div>


      </div>


      <div>

        <div class="py-6">
          <h1 class="text-[24px] font-bold border-r-2 border-slate-600 pr-3 text-[#00B14F]"> Cùng TopCV xây dựng thương
            hiệu cá nhân
          </h1>
        </div>
        <div class="grid md:grid-cols-2 gap-6 ">


          <!-- item topwork -->
          <div class="flex bg-[#F3F5F7] rounded-lg hover:border hover:shadow hover:shadow-[#00B14F]  ">
            <div class=" space-y-6 p-4 ">
              <h3 class="text-xl font-bold mb-3">
                TopCV Profile
              </h3>
              <p class="text-sm font-semibold text-[#6F7882] mb-5">
                TopCV Profile là bản hồ sơ năng lực giúp bạn xây dựng thương hiệu cá nhân, thể hiện
                thế mạnh của bản thân thông qua việc đính kèm học vấn, kinh nghiệm, dự án, kỹ
                năng,... của mình
              </p>
              <div class="bg-[#00B14F] text-white  w-fit py-1 px-4 rounded-md ">
                Tạo Profile

              </div>
            </div>
            <div class="">
              <img class=""
                src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/sel-growth/profile-desktop.png">
            </div>
          </div>
          <!-- item topwork -->
          <div class="flex bg-[#F3F5F7] rounded-lg hover:border hover:shadow hover:shadow-[#00B14F]  ">
            <div class=" space-y-6 p-4 ">
              <h3 class="text-xl font-bold mb-3">
                TopCV Profile
              </h3>
              <p class="text-sm font-semibold text-[#6F7882] mb-5">
                TopCV Profile là bản hồ sơ năng lực giúp bạn xây dựng thương hiệu cá nhân, thể hiện
                thế mạnh của bản thân thông qua việc đính kèm học vấn, kinh nghiệm, dự án, kỹ
                năng,... của mình
              </p>
              <div class="bg-[#00B14F] text-white  w-fit py-1 px-4 rounded-md ">
                Tạo Profile

              </div>
            </div>
            <div class="">
              <img class=""
                src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/sel-growth/profile-desktop.png">
            </div>
          </div>
          <!-- item topwork -->
          <div class="flex bg-[#F3F5F7] rounded-lg hover:border hover:shadow hover:shadow-[#00B14F]  ">
            <div class=" space-y-6 p-4 ">
              <h3 class="text-xl font-bold mb-3">
                TopCV Profile
              </h3>
              <p class="text-sm font-semibold text-[#6F7882] mb-5">
                TopCV Profile là bản hồ sơ năng lực giúp bạn xây dựng thương hiệu cá nhân, thể hiện
                thế mạnh của bản thân thông qua việc đính kèm học vấn, kinh nghiệm, dự án, kỹ
                năng,... của mình
              </p>
              <div class="bg-[#00B14F] text-white  w-fit py-1 px-4 rounded-md ">
                Tạo Profile

              </div>
            </div>
            <div class="">
              <img class=""
                src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/sel-growth/profile-desktop.png">
            </div>
          </div>
          <!-- item topwork -->
          <div class="flex bg-[#F3F5F7] rounded-lg hover:border hover:shadow hover:shadow-[#00B14F]  ">
            <div class=" space-y-6 p-4 ">
              <h3 class="text-xl font-bold mb-3">
                TopCV Profile
              </h3>
              <p class="text-sm font-semibold text-[#6F7882] mb-5">
                TopCV Profile là bản hồ sơ năng lực giúp bạn xây dựng thương hiệu cá nhân, thể hiện
                thế mạnh của bản thân thông qua việc đính kèm học vấn, kinh nghiệm, dự án, kỹ
                năng,... của mình
              </p>
              <div class="bg-[#00B14F] text-white  w-fit py-1 px-4 rounded-md ">
                Tạo Profile

              </div>
            </div>
            <div class="">
              <img class=""
                src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/v4/image/welcome/sel-growth/profile-desktop.png">
            </div>
          </div>



        </div>
      </div>

    </div>
    {% include "core/footer.html" %}

  </div>
  {% block script %}
  <script src="{% static 'core/chart.js' %}"></script>
  {% endblock %}
</div>

{% endblock %}